* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  background: #f6f6f6;
}

.header {
  display: flex;
  justify-content: space-between;
  padding: 10px 20px;
  align-items: center;
}

.logo {
  width: 120px;
  height: 100px;
  display: block;
}

.menu-icon {
  font-size: 32px;
  cursor: pointer;
  user-select: none;
  display: block;
}

.menu-lateral {
  position: fixed;
  top: 0;
  right: -200px;
  width: 200px;
  height: 100vh;
  background: #0b2147;
  padding-top: 80px;
  transition: right 0.35s ease;
}

.menu-lateral ul {
  list-style: none;
}

.menu-lateral ul li {
  margin: 20px 0;
}

.menu-lateral ul li a {
  color: #fff;
  font-size: 18px;
  padding: 10px 20px;
  display: block;
  text-decoration: none;
}

.menu-lateral.ativo {
  right: 0;
}

.fundo-menu {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.4);
  opacity: 0;
  pointer-events: none;
  transition: 0.3s ease;
}

.fundo-menu.ativo {
  opacity: 1;
  pointer-events: all;
}

.destaque {
  background: #c9e7f6;
  padding: 40px 20px;
  text-align: left;
}

.destaque h2 {
  font-size: 28px;
  color: #0b2147;
  font-weight: 600;
}

.destaque h2 strong {
  font-size: 30px;
}

.destaque .descricao {
  margin-top: 10px;
  font-size: 15px;
  color: #1a1a1a;
}

.botoes {
  margin-top: 25px;
  display: flex;
  gap: 15px;
}

.botoes img {
  width: 15px;
  height: 15px;
}

.google,
.apple {
  padding: 12px 20px;
  border-radius: 8px;
  font-weight: 600;
  cursor: pointer;
  font-size: 14px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  text-decoration: none;
}

.google {
  background: #2e3c56;
  color: #fff;
}

.google:hover {
  background: #2c63ca;
}

.apple {
  background: #99cfac;
  color: #000;
}

.apple:hover {
  background: #8efd98;
}

.func {
  background: #0b2147;
  padding: 40px 20px;
  color: #fff;
  text-align: center;
}

.func h2 {
  margin-bottom: 40px;
}

.cards {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.card {
  background: #eafcff;
  color: #000;
  border-radius: 12px;
  padding: 20px;
  text-align: left;
  box-shadow: 5px -6px 0px 0px #c9e7f6;
  transition: transform 0.3s ease;
}

.card:hover {
  border: 2px solid #5daad1;
  transform: translateX(5px);
}

.card .icon {
  width: 45px;
  margin-bottom: 10px;
}

.card h3 {
  font-size: 18px;
  font-weight: 600;
  color: #0b2147;
}

.card p {
  font-size: 14px;
  color: #333;
}

.extra {
  display: none;
  background: #0b2147;
  padding: 40px 20px;
  color: white;
  text-align: center;
}

.menu-desktop {
  display: none;
}

@media screen and (min-width: 768px) {
  .extra {
    display: block;
  }

  .menu-desktop {
    display: flex;
    gap: 25px;
    align-items: center;
  }

  .menu-desktop a {
    text-decoration: none;
    color: #0b2147;
    font-size: 16px;
    font-weight: 600;
    transition: 0.2s;
  }

  .menu-desktop a:hover {
    background: #e5e5e5c1;
    padding: 10px;
    border-radius: 5px;
  }

  .menu-desktop .btn-baixar {
    background: #99cfac;
    padding: 10px 18px;
    border-radius: 8px;
    color: #000 !important;
  }

  .menu-desktop .btn-baixar:hover {
    background: #8efd98;
  }

  .menu-icon {
    display: none;
  }

  .menu-lateral,
  .fundo-menu {
    display: none;
  }
}

.extra-container {
  max-width: 1100px;
  margin: auto;
}

.extra-titulo {
  font-size: 26px;
  font-weight: 700;
  margin-bottom: 10px;
}

.extra-subtitulo {
  font-size: 15px;
  max-width: 650px;
  margin: 0 auto 40px;
  line-height: 1.5;
}

.extra-cards {
  display: flex;
  justify-content: center;
  gap: 45px;
  flex-wrap: wrap;
}

.extra-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 160px;
}

.extra-icon {
  width: 55px;
  height: auto;
  margin-bottom: 12px;
}

.extra-card-text {
  font-size: 15px;
  font-weight: 600;
}

@media screen and (min-width: 1024px) {
  .header {
    padding: 25px 60px;
  }

  .logo {
    width: 170px;
  }

  .menu-icon,
  .menu-lateral,
  .fundo-menu {
    display: none !important;
  }

  .menu-desktop {
    display: flex;
    gap: 40px;
    align-items: center;
  }

  .menu-desktop a {
    font-size: 18px;
  }

  .menu-desktop .btn-baixar {
    padding: 14px 26px;
    border-radius: 10px;
  }

  .destaque {
    background: #c9e7f6;
    padding: 100px 80px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;
    text-align: left;
  }

  .destaque h2 {
    font-size: 45px;
    line-height: 1.2;
    color: #0b2147;
    font-weight: 700;
  }

  .destaque .subinfo {
    font-size: 18px;
    font-weight: 600;
    margin-top: -10px;
    color: #0b2147;
  }

  .destaque .descricao {
    margin-top: 10px;
    font-size: 20px;
    max-width: 550px;
    line-height: 1.6;
    color: #1a1a1a;
  }

  .botoes {
    margin-top: 15px;
    display: flex;
    gap: 20px;
  }

  .botoes a {
    font-size: 18px;
    padding: 16px 28px;
    border-radius: 10px;
  }

  .func {
    padding: 70px 60px;
  }

  .cards {
    flex-direction: row;
    justify-content: center;
    gap: 40px;
  }

  .card {
    width: 300px;
    padding: 32px;
    border-radius: 14px;
    box-shadow: 7px -7px 0px 0px #c9e7f6;
  }

  .card .icon {
    width: 60px;
  }

  .card h3 {
    font-size: 22px;
  }

  .card p {
    font-size: 16px;
  }

  .extra {
    padding: 90px 60px;
  }

  .extra-titulo {
    font-size: 34px;
  }

  .extra-subtitulo {
    font-size: 18px;
    max-width: 850px;
  }

  .extra-card-text {
    font-size: 17px;
  }
}
